* {
    box-sizing: border-box;
}
html,

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
    background-color: black;
}
h1 {
    text-align: center;
    font-weight: 100;
}
header {
    border-bottom: 1px solid white;
    margin-bottom: 2em;
}
main {
    margin-top: 950px;
    /*align-items: left;*/
    text-align: center;
}
@keyframes pulse {
    0% {
        opacity: 100%;
    }

    50% {
       opacity: 50%;
    }

    100% {
       opacity: 0%;
    }
}

button.listening {
    animation: pulse 1.5s infinite;
}

#result {
   color: black;
}
#result.final {
    color: black;
}

button {
    font-family: monospace;
    font-size: 12px;
    font-weight: 500;
    /*padding: 2em;*/
    width: 35px;
    height: 35px;
    background: red;
    border: 2px solid white;
    border-radius: 25px;
    color: white;
}
button:active{
    background: black;
}
/*button:focus{*/
/*    background: black;*/
/*}*/

a {
    color: white;
}
.error {
    color: red;
    text-align: center;
}
