* {
    box-sizing: border-box;
}
html,
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
}
body {
    font-family: monospace;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
    background-color: black;
}
h1 {
    text-align: center;
    font-weight: 100;
}
header {
    border-bottom: 1px solid white;
    margin-bottom: 2em;
}
main {
    /*flex-grow: 2;*/
    /*justify-content: space-around;*/
    align-items: center;
    background-color: black;
    /*border-radius: 12px;*/
    /*margin-bottom: 2em;*/
    /*padding-top: 4em;*/
    text-align: center;
}
@keyframes bg-pulse {
    0% {
        background-color: black;
    }

    50% {
       background-color: black;
    }

    100% {
       background-color: black;
    }
}
main.speaking {
animation: bg-pulse 1.5s alternate ease-in-out infinite;
}
#result {
   color: black;
   /*font-style: italic;*/
   /*text-align: center;*/
}
#result.final {
    color: black;
    font-style: normal;
}
/*#confidence_id {*/
/*    color: red;*/
/*}*/
button {
    margin-top: 25%;
    font-family: monospace;
    font-size: 14px;
    font-weight: 700;
    padding: 2em;
    width: 200px;
    background: transparent;
    border: 2px solid white;
    /*border-radius: 4px;*/
    /*transition: all 0.4s ease 0s;*/
    /*cursor: pointer;*/
    color: white;
    /*margin-bottom: ;*/
}
button:hover{
    background: white;
    color: black;
}

a {
    color: white;
}
.error {
    color: red;
    text-align: center;
}
/*footer {*/
/*    border-top: 1px solid white;*/
/*    text-align: center;*/
/*}*/
